<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <head>
    <title>Mynicedecor.com</title>
    <!-- Bootstrap -->
    <link href="/include/css/bootstrap.css" rel="stylesheet" media="screen">
     <link href="/include/css/our_style.css" rel="stylesheet">
     <script src="http://code.jquery.com/jquery-latest.js"></script>
     <script src="/include/js/bootstrap.min.js"></script>
     <script src="/include/js/script.js"></script>
     <script src="/include/js/validation/jquery.validate.min.js"></script>
     <script src="/include/js/form.js"></script>
  </head>
 
  <body>
   <div class="container">
    <!-- -->
     <div class="row-fluid">
       <a href="http://mynicedecor.com"><div class="span6 logo_banner">
          
       </div></a>
       <div class="span2">
       </div>
       <div class="span4 phone_banner">
         <p><strong>+7 (8352) 21-08-01</strong></p>
       </div>
    </div>
     <!-- -->

     <div class="row-fluid slogan_banner">
        <div class="span3">
        </div>
        <div class="span6">
        <p>&laquo;Как приручить энергетику </p>
        <p>и стать экстрасенсом?&raquo;</p>
        </div>
        <div class="span3">
        </div>
     </div>
     <!-- -->
     <div class="row-fluid">
       <div class="span4 logo2_banner">

       </div>
       <div class="span4 date_banner">
          <p>Г.Чебоксары</p>
          <p>19 марта - 7 мая 2014</p> 
       </div>
       <div class="span4">
       </div>
     </div>
     
</div>
   <!-- ------------------ -->

<div class="orange_block">
  <div class="container">
    <div class="row-fluid slogan2">
       <p><h2>Хотите быть сверхчеловеком!?</h2></p>
       <p><h3>Научите энергетику работать на ваш успех!</h3></p>
    </div>
    <div class="row-fluid"> 
    <div class="span7 video_span">
      <iframe width="560" height="315" src="//www.youtube.com/embed/81isNQ2FV-0" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="span5 form_span1">
      <p>Заполните форму и <strong>получите</strong></p>
      <p><strong>книгу в подарок</strong></p>

        <form class="form-horizontal" id="order_book" action="/main/order_book" method="POST">
         
            <div class="input_form">
              <input type="text" id="name_book" placeholder="Имя" name="name_book">
            </div>
       
           
            
            <div class="input_form">
              <input type="text" id="phone_book" placeholder="Телефон" name="phone_book">
            </div>
       
         
            
            <div class="input_form">
              <input type="text" id="email_book" placeholder="e-mail" name="email_book">
            </div>
       
        
            <div class="input_form">
              
              <button type="submit" class="btn-danger">Скачать книгу</button>
            </div>
         
        </form>

        <!-- MODAL BOOK-->
          <div class="modal hide fade myModal" id="book_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Спасибо!</h3>
            </div>
            <div class="modal-body">
              <p>Чтобы скачать книгу нажмите на кнопку!</p>
           <!-- <p>Пожалуйста, подтвердите Ваш запрос!</p> -->
                <div id="thanx_btn"><a href="/include/files/book.zip">Скачать</a></div>
            </div>
          </div>

          <!-- END MODAL BOOK-->
      </div>
    </div>
  
 </div>


</div>
 <!-- -->
 <div class="container">
   <div class="row-fluid after_orange">
     <p class="label_black">Для кого проводиться этот тренинг?<p>
     <table border=0>
      <tr>
       <td><div class="razd"></div></td>
       <td> Для тех, кто хочет обладать экстрасенсорными способностями и стать сверхчеловеком</td>
      </tr>
      <tr> 
        <td> 
          <div class="razd"></div>
        </td>
        <td> 
         Ищет выгодные знакомства с интересными людьми
        </td>
       </tr>
       <tr>
        <td><div class="razd"></div>
        </td>
        <td>
        Верит в счастливый случай и хочет попасть в нужное место, в нужное время, с нужными людьми!
        </td>
       </tr> 
     </table> 
     <p class="label_black">Вы уже ходили на подобные тренинги?</p>
     <p>Данный тренинг нужен Вам, потому что он способуствует Вашему развитию. Стать экстрасенсом не значит быть аутсайдером, носить на шее бусы и гадать на картах. Быть экстрасенсом значит чувствовать мир и жить в гармонии со своим «я». Открыть в себе экстрасенсорные способности может абсолютно любой человек. Вы возможно не знаете, но самые успешные люди планеты обладают повышенной чувствительностью. Поэтому если Вы хотите присоединится к успеху - Вам обязательно нужно быть на тренинге «Как приручить энергию и стать экстрасенсом?».</p>
      <p class="label_black">Вы постоянно заняты?</p>
      <p>Организация своего времени это один из навыков всех успешных людей. Распланировать свое расписание, так что бы провести один день для получения универсальных знаний - Вам это интересно? Тогда увидимся на тренинге «Как приручить энергию и стать экстрасенсом?».</p>
   </div>
   <div class="row-fluid">
     <div class="span3">
     </div>
     <div class="span1"> 
        <div class="strelka_left"></div>
        <!-- -->
     </div>
     <div class="span4 reg_button last">
         <form class="form-reg"> 
              <button type="submit" class="btn-danger" id="reg_button" onClick="document.location.href='#registration'">Зарегистрироваться</button>  
         </form>
     </div>
      <div class="span1"> 
        <div class="strelka_right"></div>
        <!-- -->
     </div>
     <div class="span3">
     </div>

   </div>

 </div>  

<!-- in orange-->
<div class="orange_block">
  <div class="container">
     <div class="row-fluid slogan2">
       <p><h3>Отзывы участников тренинга...</h3></p>
     </div>
     <div class="row-fluid otz">
       <div class="span3"> 
         <img src="/include/images/sveta.png">
       </div>
       <div class="span7">
           <p class="little_black_label"> Светлана Молчанова </p>
            <p>Я даже не знала, что у меня есть такие способности. После тренинга я стала чувствовать мир острее, понимать людей глубже. Моя жизнь приобрела новые оттенки. 
            Если бы мне случайно не посоветовал мой знакомый сходить на этот тренинг, я бы потеряла очень многое.
            Спасибо большое организаторам тренига и Татьяне Манеевой. Спасибо за мою новую жизнь! </p>
       </div>
     </div>   
     <div class="row-fluid otz">
       <div class="span3"> 
         <img src="/include/images/andrey.png">
       </div>
       <div class="span7">
           <p class="little_black_label"> Андрей Николаев </p>
            <p>
              Когда я прошел курс у Татьяны Манеевой моя жена меня не узнала. Сказала мне что, я стал её чувствовать лучше. Наши взаимоотношения значитеьно улучшились.
              Как-будто в наши отношения с женой вдохнули что-то новое и свежее.
              В моем бизнесе теперь меня никто не может обмануть. За версту чувствую, когда хотят кинуть на деньги. Татьяна ваш тренинг лучшее что случалось со мной!  </p>
       </div>
     </div>     
      <div class="row-fluid otz last">
       <div class="span3"> 
         <img src="/include/images/egor.png">
       </div>
       <div class="span7">
           <p class="little_black_label">  Егор Косолапов </p>
            <p>
              Я скептик по жизни. На тренинг меня уговорил пойти мой партнер по бизнесу. В первые дни, я не совсем понимал, что я вообще делаю на этом тренинге.
              Затем на 3-ем занятии я внезапно почувствовал внутри себя новые ощущения. ... У меня просто голову снесло! Это не передать словами!  </p>
       </div>
     </div>         

  </div>
</div>
<!-- -->
<div class="container after_orange">
  <div class="row-fluid">
    <p class="label_black">Что такое &laquo;энергетика&raquo;?</p>
      <div class="row-fluid"> 
       <div class="span7">
          <p><b class="orange">Энергетика</b> – это тонкие вибрации всех существ во вселенной. Каждый субъект излучает их с определенной частотой. Чем выше частота, тем сильнее энергетика.</p>
          <p>Людей с большим потенциалом может почувствовать даже обычный челове без экстрасенсорных способностей.</p>
       </div>
       <div class="span5 img_center">
          <img src="/include/images/energy.jpg">
       </div>
     </div>  
  </div>
  <div class="row-fluid">
    <p class="label_black">Для чего развивать экстрасенсорные способности?</p>
     <div class="row-fluid"> 
       <div class="span5">
         <p>  Если Вы задаетесь подобным вопросом, то наверное, Вы еще не созрели. Экстрасенсорные способности, как уже писалось выше есть у каждого, но к сожалению, не все получают доступ к их развитию.Когда человек развивает сверх-способности, то он точно знает для чего они ему нужны.</p>
       </div>
        <div class="span5 img_center last">
          <img src="/include/images/extrasex.jpg">
       </div>
      </div>   
  </div>
</div>  

<!-- in orange-->
<div class="orange_block">
  <div class="container">
    <div class="row-fluid slogan3">
       <p><h3 class="last">Всё ещё думаете?</h3></p>
     </div>
 
<div class="row-fluid">
     <div class="span2">
     </div>
     <div class="span2"> 
        <div class="strelka_left2"></div>
        <!-- -->
     </div>
     <div class="span4 reg_button2">
         <form class="form-reg"> 
              <button type="submit" class="btn-danger" id="reg_button" onClick="document.location.href='#registration'">Зарегистрироваться</button>  
         </form>
     </div>
      <div class="span2"> 
        <div class="strelka_right2"></div>
        <!-- -->
     </div>
     <div class="span2">
     </div>

   </div>
    <div class="row-fluid slogan3">
       <p><h2>Тогда продолжим!</h2></p>
     </div>
  </div>
 </div> 
<!-- -->
<div class="container after_orange">
  <div class="row-fluid">
    <p class="label_black">Что включено в тренинг?</p>
    <div class="row-fluid">
     <div class="span2"> 
     </div>
     <div class="span8"> 
      <ul class="list last">
       <li>Интересное общение с экстрасенсами</li>
       <li>Учебные статьи, материалы, специальные домашние задания</li>
       <li>Инструменты для практических занятий</li>
       <li>Подарки от ведущих эзотериков страны</li>
       <li>Атмосфера заряженная сильной энергетикой</li>
       <li>...и еще очень много интересного!</li>
      </ul>
    </div>
    <div class="span2"></div>
    </div>
  </div>
</div>  
<!-- in orange -->
<div class="orange_block">
  <div class="container">
    <div class="row-fluid slogan3">
       <h3 class="last"><p>Вы хотите взрывообразного роста - </p>
       <p>бизнеса, клиентской базы, доходов,</p>
       <p>команды...?</p></h3>
     </div>
 
<div class="row-fluid">
     <div class="span4">
     </div>
     <div class="span3"> 
        <div class="strelka_down"></div>
        <!-- -->
     </div>
     <div class="span4">
     </div>
  </div>
 <div class="row-fluid">    
     <div class="span4">
     </div> 
     <div class="span4 reg_button2">
         <form class="form-reg"> 
              <button type="submit" class="btn-danger" id="yes_i_want">Да, я хочу!</button>  
         </form>
     </div>
     <div class="span5">
     </div>
  </div>   
 </div>
 </div> 
<!-- after orange -->
<div class="container after_orange">
  <div class="row-fluid">
    <p class="label_black">Какова программа тренинга?</p>
    <div class="row-fluid">
      <div class="span1"></div>
      <div class="span5">
        <p> Работать будем по 4-м направлениям:</p>
        <p>1. Бронзовый экстрасенс.</p>
        <p>2. Серебряный экстрасенс.</p>  
        <p>3. Золотой экстрасенс.</p>
        <p>4. Платиновый экстрасенс.</p>
      </div>
      <div class="span5"> 
       <div class="row-fluid"> 
          <div class="strelka_down2"></div> 
       </div>
       <div class="row-fluid">
         <div class="span4 reg_button2">
         <form class="form-reg"> 
              <button type="submit" class="btn-danger" id="trenning_programm">Программа тренинга</button>  
         </form>
        </div> 
       </div>
     </div>

    </div>
  </div>
</div>

<!-- in orange -->  
<div class="orange_block">
  <div class="container">
    <div class="row-fluid">
      <div class="span5">
        <img src="/include/images/tatyana.jpg"> 
      </div>
      <div class="span6">
        <div class="row-fluid slogan3">
           <h3 class="first last"><p>Кто ведет?</p></h3>
         </div>
          <div class="text_on_black">
          <p>Ведущий специалист по энергетическому дизайну.</p>
          <p>Автор книг и методик по развитию внутренних способностей и
           раскрытию внутреннего потенциала человека.</p>
          <p>В миру и жизни — <strong>Манеева Татьяна Олеговна (Tatiana Maneeva)</strong></p>
                       <div class="text_padding"> 
                        <p><img src="/include/images/icon_1.png"> Тренер - эзотерик
            ​            <p><img src="/include/images/icon_1.png"> Практик - экстрасенс</p>
                        <p><img src="/include/images/icon_1.png"> Дизайнер - экстрасенс</p>
                        <p><img src="/include/images/icon_1.png"> Успешный бизнесмен</p>
                        <p><img src="/include/images/icon_1.png"> Принесла в Россию и подняла на всем русскоязычном 
                        пространстве новую индустрию экстрасенсорного дизайна.</p>  
                       </div> 
         </div>     
      </div> 
    </div>
  </div>

 </div>
 <!-- --> 
 <div class="container after_orange">
  <div class="row-fluid">
   <div class="span1"></div>
   <div class="span9"> 
    <p class="label_black" id="little">Образование социальное:</p>
       <p>-МГУ Московский Государственный Университет, г. Москва, социологический факультет, социолог моды, социология и дизайн интерьеров.</p>
       <p>-МШД Международная Школа Дизайна, г. Москва, факультет архитектуры и дизайна, дизайнер интерьера, архитектурное планировании и декорирование интерьеров.</p>
       <p>-ЧГУ Чувашский Государственный Университет, г. Чебоксары, строительный факультет, инженер-строитель, промышленное и гражданское строительство.</p>

       <p class="label_black" id="little"> Экстрасенсорное образование:</p>
      <p>-Школа Игоря и Виргинии Калинаускас. Авторские методики.</p>
      <p>-Студия Григория Рейнина. Авторские методики.</p>
      <p>-Мастер древних психотехник Татьяна Ильинична. Авторские методики.</p>

       <p class="label_black" id="little">Лекции</p>
       <!--<div class="little_height">-->
       
         <p>Курс «Раскрытие энергетических возможностей через искусство».</p>
         <p>Интернет, социальные связи и энергетика.</p>
         <p>Правило треугольника по Григорию Рейнину.</p>
         <p>Энергия. Цвет и форма.</p>
         <p>Взаимосвязь энергий. Я, мы и энергия.</p>
         <p>Осознание себя как энергию, через произведения высокого искусства.</p>
         <p>Фотография. Кино. Музыка. Энергия.</p>
         <p>Живое и не живое. Энергия.</p>
         <p>Параллельные миры. Энергия.</p>
         <p>Мужчина и женщина. Энергия.</p>
         <p>Женщина, как энергия. Энергия.</p>
         <p>Жемчуг. Женщина. Энергия.</p>
         <p>Бриллиант. Женщина. Энергия.</p>
         <p>Ангелы. Энергия.</p>
         <p>Лабиринт, как энергетическое пространство. Энергия.</p>
         <p>Путешествие в себя. Энергия.</p>
         <p>Энергетический дизайн. Энергия.</p>
         <p>Энергетический дизайн интерьера. Энергия.</p>

    <!--   </div>-->

      <p class="label_black" id="little">Автор книг:</p> 
      <p>- Школа Экстрасенсорного Дизайна. Дизайнер - экстрасенс.</p>
      <p>- Школа Экстрасенсорного Дизайна. Я - сверхчеловек.</p>

      <p class="label_black" id="little">Публикации в журналах:</p>
      <p>- SALON</p>
      <p>- Лучшие интерьеры</p>
      <p>- Идеи Вашего дома</p>
      <p>- Красивые квартиры</p>
      <p>- Перепланировка</p>

      <p class="label_black" id="little">Профессиональная деятельность:</p>
      <p>- Магазин дизайна интерьеров</p>
      <p>- Дизайн бюро</p>
      <p>- Школа Энергетического Дизайна</p>
      <br>
      <p class="last">Постоянный участник Международных выставок, победитель конкурсов, Ваш личный консультант энергетического дизайна.</p>
   </div>
  </div>
 </div> 
<!-- -->
<div class="orange_block">
  <div class="container">
    <div class="row-fluid slogan3">
       <p><h1 class="last2 first">Зарегистрируйтесь сейчас!</h1></p>
       <p><h2 class="last2">В группу может войти 15</h2></p>
       <p><h2 class="last2">человек масимум!</h2></p>
     </div>
 
    <div class="row-fluid">
     <div class="span4">
     </div>
     
     <div class="span4 reg_button2">
         <form class="form-reg"> 
              <button type="submit" class="btn-danger" id="reg_button" onClick="document.location.href='#registration'">Зарегистрироваться</button>  
         </form>
     </div>

     <div class="span4">
     </div>

   </div>
  </div>
 </div> 
<!-- -->
<!-- after orange -->
<div class="container after_orange">
  <div class="row-fluid">
    <p class="label_black">7 золотых пунктов &laquo;программы тренинга&raquo;</p>
    <div class="row-fluid">
      <div class="span1"></div>
      <div class="span9">
            <p>1. Вам нужно будет знать , где находится конференц – зал гостиницы «Дубрава».</p>

            <p>2. Всегда приходить только в позитивном настроении )</p>

            <p>3. Не опаздывать, дабы не пропустить самое важное и интересное, а так же не отвлекать и не задерживать других.</p>

            <p>4. Приходить в комфортной и удобной одежде и сменной обуви.</p>

            <p>5. На каждое занятие приносить папку и пополнять ее всем, чем наполняется… )</p>

            <p>6. Ежедневно просматривать свою электронную почту, т.к. перед каждым занятием будут присылаться инструкции.</p>

            <p>7. Домашнее задание выполнять в обязательном порядке. </p>

            <p>Мы работаем на результат! Именно поэтому, для тех, кто не выполняет домашнее задание – на занятие не допускаются и оплата не возвращается. Домашнее задание озвучивается на каждом занятии и присылается по электронной почте.</p>
                  </div>
      

    </div>
    <div class="row-fluid">
      <p class="label_black"><h1 class="img_center grey">Какие у Вас будут результаты</h1></p>
      <p class="label_black first_little grey">после тренинга?</p> 
    </div>
    <div class="row-fluid">
      <div class="span1"></div>
      <div class="span5 first last">
        <p>1. Вы станете другим человеком. Ваш энергетический потенциал изменится, и Вы это почувствуете.</p>

        <p>2. Ваша прежняя жизнь изменится, на всех фронтах Вы увидите улучшения.</p> 

        <p>3. Вы почувствуете в себе экстрасенсорные способности и Ваша чувствительность окружающего мира повысится в несколько раз.</p>
      </div>
      <div class="span5">
        <img src="/include/images/result.jpg" class="img_center">
      </div>
    </div>
  </div>
</div>
<!-- in orange -->
<div class="orange_block">
  <div class="container">
    <div class="row-fluid slogan3">
       <p><h1 class="last2 first">Зарегистрируйтесь сейчас!</h1></p>
       <p><h2 class="last2">В группу может войти 15</h2></p>
       <p><h2 class="last2">человек масимум!</h2></p>
     </div>
 
    <div class="row-fluid">
     <div class="span4">
     </div>
     
     <div class="span4 reg_button2">
         <form class="form-reg"> 
              <button type="submit" class="btn-danger" id="reg_button" onClick="document.location.href='#registration'">Зарегистрироваться</button>  
         </form>
     </div>

     <div class="span4">
     </div>

   </div>
  </div>
 </div> 
<!-- -->
<div class="container after_orange">
  <div class="row-fluid">
    <p class="label_black_little_bottom orange">Стоимость тренинга</p>
    <p class="label_black_little_bottom orange">&laquo;Как приручить энергетику</p>
    <p class="label_black_little_bottom orange last">и стать экстрасенсом?&raquo;</p>
    <div class="row-fluid">
      <div class="span1"></div>
      <div class="span9">
            <p>Только сейчас у Вас есть возможность забронировать места по таким низким ценам. Стоимость тренинга будет повышаться с записью каждых 5 новых участников. К тому же, к началу занятий – цены также неприлично поднимутся.</p>

            <p>• Стажеры — 2000 руб.
            Вы получите доступ к вводному занятию от Манеевой Татьяны, личную консультацию. </p>
             
            <p>• Премиум-участники — 5000 руб.
            Вы получите доступ абсолютно ко всем занятиям, кроме ВИП-блока. Также Вы получите возможность потусить, поработать и пообщаться с экстрасенсами нашего города.</p>

            <p>• ВИП-участники — 10000 руб.
            Вы получите все занятия, включая закрытую часть тренинга – ВИП-блок, и возможность личной консультации с Татьяной Манеевой после каждого занятия.</p>
             
            <p>• СуперВИП-участники – 30000 руб.
            Вы получите всё-всё-всё! И кроме этого, Вы сможете проводить с Манеевой Татьяной минимум полтора часа в неделю в течении семинара – личный еженедельный коучинг высшего класса от самого неординарного тренера России.</p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <p class="label_black_little_bottom orange">Способы оплаты</p>
    <div class="row-fluid">
      <div class="span1"></div>
      <div class="span9">
            <p>- банковские карты (VISA, MasterCard)</p>
            <p>- наличные в платежных терминалах (к нам подключены все основныетерминальные сети, включая QIWI, Элекснет, ЕСГП, Уникасса, Pinpay Express)</p>
            <p>- наличные в салонах связи Евросеть</p>
            <p>- электронные деньги (QIWI кошелек, Яндекс.Деньги, Webmoney, RBK Money, Деньги@Mail.ru, IntellectMoney)</p>
            <p>- оплата по безналичному расчету со счета компании</p>
      </div>
    </div>
  </div>
</div>

<!-- in orange -->
<div class="orange_block">
  <div class="container">
    <div class="row-fluid slogan3">
       <p><h2 class="last2 first">Где будет проходить?</h2></p>
     </div>
 
    <div class="row-fluid">
     <div class="span1"></div>
     <div class="span10">
        <div class="text_on_black img_center last">
           <p>Тренинг будет проходить в конференц-зале гостиницы <strong>«Дубрава»</strong> по адресу: </p>
           <p><strong>г. Чебоксары, ул. Космонавта Николаева, дом 2, строение 1</strong></p>
        </div>
     </div>
     <div class="span1"></div>
    
   </div>
  </div>
 </div> 
<!-- -->
<div id="map">
  
  <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=BOCAfy26VV0ol5ps_d5xxWE4oAABQ82f&width=100%&height=450">
  // var wid = $(window).width();
  </script>

</div>
<!-- -->

<div class="container after_orange">
  <div class="row-fluid">
    <a name="registration"></a>
    <p class="label_black_little_bottom red last">Регистрация</p>
    <div class="img_center">
      <p> Чтобы зарегистрироваться на это событие, заполните анкету.</p>
      <p> Информация о Вас будет доступна только организаторам этого события, и больше никому.</p>
      <p>Поля, отмеченные звездочокой являются обязательными.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">
      <form class="form-horizontal" id="reg_form" action="/main/order" method="POST">
         
            <div class="input_form">
              <p>E-Mail:*</p>
              <input type="text" id="email" placeholder="" name="email">
            </div>
       
           
            
            <div class="input_form">
              <p>Фамилия:*</p>
              <input type="text" id="Family" placeholder="" name="surname">
            </div>
       
         
            
            <div class="input_form">
              <p>Имя:*</p>
              <input type="text" id="name" placeholder="" name="name">
            </div>

             <div class="input_form">
              <p>Отчество:*</p>
              <input type="text" id="father_name" placeholder="" name="second_name">
            </div>

             <div class="input_form">
              <p>Телефон:*</p>
              <input type="text" id="phone" placeholder="" name="phone">
            </div>
       
        
            <div class="input_form">
              
              <button type="submit" class="btn-danger" id="reg_button">Зарегистрироваться</button>
            </div>
         
        </form>


          <!-- MODAL -->
          <div class="modal hide fade myModal" id="thanx_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Подтверждение</h3>
            </div>
            <div class="modal-body">
              <p>Большое спасибо, <span id='_name'><b>Эдуард</b></span>! Ваша заявка прошла успешно.</p>
           <!-- <p>Пожалуйста, подтвердите Ваш запрос!</p> -->
                <div id="thanx_btn"><button type="submit" class="btn btn-danger" class="close" data-dismiss="modal" aria-hidden="true">ОК</button></div>
            </div>
          </div>

          <!-- END MODAL -->
    </div>
    <div class="span2"></div>
  </div>

</div>  
<!-- -->
<!-- in grey -->
<div class="orange_block grey_background">
  <div class="container">
    <div class="row-fluid slogan3">
       <p><h2 class="last2 first">Остались вопросы?</h2></p>
     </div>
    <div class="row-fluid img_center font_st">
      <div class="span2"></div>
      <div class="span3">Позвоните по телефону</div>
      <div class="span2">или</div>
      <div class="span4">закажите обратный звонок</div>
    </div>
   <div class="row-fluid img_center font_st">
      <div class="span2"></div>
      <div class="span3"><h3>(8352) 21-08-01</h3></div>
      <div class="span2"></div>
      <div class="span3">
         <form class="form-phone"> 
              <button type="submit" class="btn-danger" id="phone_call">Заказать звонок</button>  
         </form></div>
    </div>
  </div>
  <hr>
  <div class="container">
   <div class="row-fluid">
   <div class="span3 orange">Copyright &copy mynicedecor.ru</div>
   <div class="span3"></div>
   <div class="span6 orange right">Разработано <a href="sellingsites.pro"><img src="/include/images/sellingsites.png"></a></div>
   </div>
  </div>  
  
</div>  

  </body>
</html>